
<form action="{% url 'acerca' %}">
    <h5>Introduce tu nombre:</h5>
    <textarea name="nombre" id="nombre" cols="30" rows="3"></textarea>
    <h5>Introduce tus apellidos:</h5>
    <textarea name="apellidos" id="apellidos" cols="30" rows="3"></textarea>
    <h5>Introduce tu edad:</h5>
    <textarea name="edad" id="edad" cols="30" rows="3"></textarea>
    <h5>Introduce tu profesión:</h5>
    <textarea name="profesion" id="profesion" cols="30" rows="3"></textarea>
    <input type="submit" value="Enviar información" style="color:azure; background-color:brown; display:block; border:1px solid white; padding:5px; margin:5px;">

</form>